/* Start App */

.App {
  margin: 50px auto;
  max-width: 60%;
  text-align: center;
}

.App_Main_Section {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

/* End App */

/* Start Heading */

.Heading_title {
  font-size: 2.75rem;
}

.Heading_secondary_title {
  opacity: 0.8;
  font-size: 1.25rem;
}

/* End Heading */
